<h1>Tell us about your new Idea!</h1>

<div >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>New Idea</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="emaple-form">
          <table class="eample-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Title" name="Title" required/>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Short Description</mat-label>
                    <textarea matInput placeholder="Ex. the Idea started as..."name = "desc"></textarea>
                  </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
      </mat-card-content>
       <strong> Tags</strong> <br>
          <mat-checkbox>
              Retail  
          </mat-checkbox>
          <mat-checkbox>
              Something    
          </mat-checkbox>
          <mat-checkbox>
            or   
          </mat-checkbox>
          <mat-checkbox>
            other   
          </mat-checkbox>
          <mat-checkbox>
            thing   
          </mat-checkbox>
                  <br><br>
                  <mat-checkbox>
                      would you like to create a Teams chat for this idea?
                  </mat-checkbox><br>
                  <mat-card-actions>
                    <button mat-raised-button (click)="Submit()" color="primary">Submit</button>
                  </mat-card-actions>
