<h1>Tell us about your new Idea!</h1>

<div class= "play-container">
    <p>
        <strong>Product Name: </strong> 
        <input type="text2" [(ngModel)]="name"><br>
    </p>
</div>

<div class= "play-container">
    <p>
        <strong>Short Description: </strong>
        <input type="text2" [(ngModel)]="Description"><br>
    </p>
</div>
<div class= "play-container">
    <p>
       <strong> Tags</strong> <br>
          <mat-checkbox>
              Retail
          </mat-checkbox>
          <mat-checkbox>
              Something
          </mat-checkbox>
          <mat-checkbox>
            or
          </mat-checkbox>
          <mat-checkbox>
            other
          </mat-checkbox>
          <mat-checkbox>
            thing
                  </mat-checkbox>
        
          
    </p>
</div>