<mat-toolbar color="warn" class="navbar">   
    <div><strong>Idée</strong></div>
    <div>
        <span routerLink="/profile">MyProfile</span>
        <span routerLink="/feed">Ideas</span>
        <span routerLink="/chat">Chat</span>
      <span routerLink="/search">Search</span>
        <span routerLink="/login">Logout</span>
      </div>     
</mat-toolbar>

<div >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><H1>New Idea</H1></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="emaple-form">
          <table class="eample-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Title" name="Title" required/>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Short Description</mat-label>
                    <textarea matInput placeholder="Ex. the Idea started as..."name = "desc"></textarea>
                  </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <button mat-raised-button [matMenuTriggerFor]="menu">Role</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Software Developer</button>
  <button mat-menu-item>BSA</button>
  <button mat-menu-item>Product Manager</button>
  <button mat-menu-item>SCRUM</button>
</mat-menu>
      </mat-card-content>
       <strong> Tags</strong> <br>
          <mat-checkbox>
            Retail  
          </mat-checkbox>
          <mat-checkbox>
            IOT    
          </mat-checkbox>
          <mat-checkbox>
            Database   
          </mat-checkbox>
          <mat-checkbox>
            SOAR   
          </mat-checkbox>
          <mat-checkbox>
            Other   
          </mat-checkbox>
                  <mat-card-actions>
                    <button mat-raised-button color = "warn" (click)="Submit()">Submit</button>
                  </mat-card-actions>
