<header>
  <div class="container">
    <a routerLink="/" class="logo">Name!!!</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">login</a></li>
        <li><a href="#" routerLink="/profile">profile</a></li>
        <li><a href="#" routerLink="/feed">Feed</a></li>
        <li><a href="#" routerLink="/search">Search</a></li>
        <li><a href="#" routerLink="/chat">Chat</a></li>
        <li><a href="#" routerLink="/new-idea">New Idea</a></li>
      </ul>
    </nav>
  </div>
</header>


<div class="container">
  <router-outlet></router-outlet>
</div>