<mat-toolbar color="warn" class="navbar">   
  <div><strong>Idée</strong></div>
  <div>
      <span routerLink="/new-idea">New Idea</span>
      <span routerLink="/feed">Ideas</span>     
      <span routerLink="/chat">Chat</span>
      <span routerLink="/search">Search</span>
      <span routerLink="/login">Logout</span>
    </div>     
</mat-toolbar>


<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><strong>Profile</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="emaple-form">
        <table class="eample-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Firstname" name="firstusername" required/>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Lastname" name="lastname" required/>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" name="email" required/>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone" name="phone"/>
              </mat-form-field>
            </td>
          </tr>
          
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Business Unit" name="businessunit" required/>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Bio" name="businessunit"/>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>



    <mat-form-field appearance="fill">
      <mat-label>Select Role</mat-label>
      <mat-select>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  
<!-- 
    <button mat-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ role: 'Select a ROLE' }" required>Click to Select Role</button>
    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="selectedRole('sd')">Software Developer</button>
        <button mat-menu-item (click)="selectedRole('ba')">Business Analyst</button>
        <button mat-menu-item (click)="selectedRole('pm')">Project Manager</button>
        <button mat-menu-item (click)="selectedRole('it')">IT Technician</button>
      </ng-template>
    </mat-menu> -->

    <br>
    

    <mat-card-actions>
      <button mat-raised-button (click)="save()" color="warn" routerLink="/feed" >Save</button>
    </mat-card-actions>
  </mat-card>


 


  <router-outlet></router-outlet>
  <!-- <app-feed [parentData]="roleValue"></app-feed> -->
