<mat-toolbar color="warn" class="navbar">   
  <div><strong>Idée</strong></div>
  <div>
      <span routerLink="/profile">MyProfile</span>
      <span routerLink="/new-idea">New Idea</span>
      <span routerLink="/feed">Ideas</span>     
      <span routerLink="/chat">Chat</span>
      <span routerLink="/login">Logout</span>
    </div>     
</mat-toolbar>
<router-outlet></router-outlet>

<h2>All past Ideas</h2>

<ul class="ideas">
  <li *ngFor="let idea of ideas">
    <span class="badge">{{idea.id}}</span> {{idea.title}}
  </li>
</ul>
