.ideas {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .ideas li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .ideas li:hover {
    color: #1F414D;
    background-color: #DDD;
    left: .1em;
  }
  .ideas li.selected {
    background-color:#A1C4D0;
    color: white;
  }
  .ideas li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .ideas .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#CC0033;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }